/GlslParser/bin
/GlslParser/obj
/OpenGL/Debug
/SharpGfx.OpenGL.Native/bin
/SharpGfx.OpenGL.Native/obj
/SharpGfx.OpenGL.OpenTK/bin
/SharpGfx.OpenGL.OpenTK/obj
/SharpGfx.OpenGL/bin
/SharpGfx.OpenGL/obj
/SharpGfx.OptiX/obj
/SharpGfx/bin
/SharpGfx/obj
/SharpGfx.OptiX/obj
/SharpGfx.OptiX/bin
/.vs/SharpGfx/v17
/.vs/SharpGfx/FileContentIndex/f0c0eca2-5017-4e5d-a9b8-f6e267863da4.vsidx
/.vs/SharpGfx/FileContentIndex/read.lock
/OpenGL/x64
/OptiX/Debug
/OptiX/optix.dir
/x64
